<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="60 seconds">
<!--    <property resource="logback.properties" />-->
    <!--控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method\(\):%L -%msg%n</pattern>
        </encoder>
    </appender>
    <!--文件输出 -->
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--        <Encoding>UTF-8</Encoding>-->
        <File>sql.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>information.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method\(\):%L -%msg%n</pattern>
        </encoder>
    </appender>
    <!--指定包/类日志配置-->
    <logger name="com.yy" level="TRACE"/>
    <logger name="org.springframework" level="INFO">WARN</logger>
    <!--指定日志显示类型和级别-->
    <root>
        <level value="INFO" />
        <appender-ref ref="stdout" />
    </root>
</configuration>